fastapi
google-cloud-aiplatform
google-cloud-firestore
google-genai
google.generativeai
gpt-researcher
langchain_google_vertexai
langgraph
python-dotenv
qdrant_client
sentence-transformers
sqlalchemy
uvicorn
vertexai